# Entropy

### find entropy which is randomness of data

### entropy=-Qlog2P-Qlog2Q                     where p=prob. of yes & q=prob. of no

In [3]:
import numpy as np
entropy=-(9/14)*np.log2(9/14) - (5/14)*np.log2(5/14)

In [4]:
entropy

0.9402859586706311

# Information Gain

### Information gain is node/entity which has maximum info among the all in decision tree..information gain must be high and entropy must be low as possible

In [2]:
import pandas as pd
df=pd.read_csv('Book3..csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Book3..csv'

In [3]:
inputs=df.drop('salary_more_than_10k',axis="columns")
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     buisness manager  bachelors
3       google     buisness manager    masters
4       google  computer programmer  bachelors
5       google     buisness manager    masters
6   abc pharma     buisness manager    masters
7   abc pharma      sales executive  bachelors
8   abc pharma  computer programmer  bachelors
9     facebook      sales executive    masters
10    facebook     buisness manager  bachelors
11    facebook  computer programmer    masters
12    facebook  computer programmer  bachelors
13    facebook      sales executive  bachelors
14    facebook     buisness manager  bachelors
15    facebook  computer programmer    masters

In [4]:
target=df['salary_more_than_10k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_than_10k, dtype: int64

## Encoding labels to numbers

In [5]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [14]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_job.fit_transform(inputs['job'])
inputs['degree_n']=le_degree.fit_transform(inputs['degree'])
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     buisness manager  bachelors          2      0         0
3       google     buisness manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google     buisness manager    masters          2      0         1
6   abc pharma     buisness manager    masters          0      0         1
7   abc pharma      sales executive  bachelors          0      2         0
8   abc pharma  computer programmer  bachelors          0      1         0
9     facebook      sales executive    masters          1      2         1
10    facebook     buisness manager  bachelors          1      0         0
11    facebook  computer programmer    masters          1      1         1
12    facebook  computer programmer  bachelors          1      1         0
13    facebook      sales executive  bachelors          1      2         0
14    facebook     buisness manager  bachelors          1      0         0
15    facebook  computer programmer    masters          1      1         1

In [8]:
inputs_n=inputs.drop(['company','job','degree'],axis="columns")
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      0         1
6           0      0         1
7           0      2         0
8           0      1         0
9           1      2         1
10          1      0         0
11          1      1         1
12          1      1         0
13          1      2         0
14          1      0         0
15          1      1         1

# Creating Decision tree model

In [3]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [4]:
model.fit(inputs_n,target)

NameError: name 'inputs_n' is not defined

In [11]:
model.score(inputs_n,target)

1.0

In [12]:
model.predict([[2,1,0]])

array([0], dtype=int64)

NameError: name 'model' is not defined